.recipe-page {
  background-color: #eddbc2;
  color: #670e0e;
  padding-bottom: 75px;

  .buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    i {
      color: #670e0e;
      font-size: 25px;
    }
  }

  .recipe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px 20px 20px;

    ul {
      list-style: none;
    }

    h2 {
      font-family: "inter-bold", sans-serif;
      font-size: 22px;
    }

    h3 {
      font-family: "inter-semi-bold", sans-serif;
      font-size: 20px;
    }

    p {
      font-family: "inter-regular", sans-serif;
      font-size: 16px;
      line-height: 20px;
    }

    .section {
      margin-bottom: 20px;
    }
  }
}

.recipe-content img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 6px;
  margin-bottom: 20px;
}
