.search-page {
  background-color: #eddbc2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 95px;

  .search-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    width: 360px;
    height: 55px;
    margin-top: 17px;
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 28px;
    border: 2px solid #670e0e;

    #site-search {
      width: 100%;
      height: 100%;
      border: none;
    }

    #site-search:focus {
      outline: none;
    }

    i {
      color: #670e0e;
      margin: 0 10px;
    }
  }

  .filter-container {
    display: none;
    top: 100%;
    position: absolute;
    // margin-top: 70px;
    width: 310px;
    padding: 10px;
    background-color: #fff;
    border-width: 0px 2px 2px 2px;
    border-color: #670e0e;
    border-style: solid;
  }

  .results-container {
    width: 90%;

    img {
      width: 112px;
      height: 126px;
      object-fit: cover;
      border: 3px solid #fff;
      border-radius: 17px;
      margin-right: 17px;
    }

    h2 {
      font-family: "inter", sans-serif;
      color: #fff;
    }

    a {
      list-style: none;
      text-decoration: none;
      color: #fff;
    }

    .result {
      display: flex;
      //   justify-content: space-between;
      width: 100%;
      background-color: #670e0e;
      margin-top: 20px;
      border-radius: 25px;
      padding: 15px;
    }
  }
}
