* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  background-color: #eddbc2;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    li,
    a {
      display: flex;
      list-style: none;
      text-decoration: none;

      color: #670e0e;
      font-size: 40px;
      font-weight: bold;
    }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  height: 50px;
}
